<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CSCI230.OURS.EclipseProject.LaufersBush/src/edu/csbsju/cs/SimplePrint.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.csbsju.cs.SimplePrint"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Sara&#10;Ian&#10;Karld&#10;Nimco&#10;Will"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CSCI230.OURS.EclipseProject.LaufersBush"/>
</launchConfiguration>
